<header class="header">
    <div class="container header-container">
        <a href="./index.html" class="header-logo">
            <img src="./img/header/company-logo.svg" alt="Company logo">
        </a>
        <div class="header-actions">
            <nav class="header-navigation">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a href="./dessert-list.html" class="header-menu-link">Солодощі</a>
                    </li>
                    <li class="header-menu-item">
                        <a href="./about-us.html" class="header-menu-link">Про нас</a>
                    </li>
                    <li class="header-menu-item">
                        <a href="./feedback.html" class="header-menu-link">Відгуки</a>
                    </li>
                    <li class="header-menu-item">
                        <a href="./faq-section.html" class="header-menu-link">Часті питання</a>
                    </li>
                </ul>
            </nav>
            <a href="/" class="btn header-make-order">До покупок</a>
        </div>
        <button type="button" class="menu-toggle-btn menu-open-btn">
            <svg class="menu-icon-btn" width="24" height="24">
                <use href="../img/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>