<div class="mobile-menu">
    <div class="mobile-menu-top">
        <a href="./index.html" class="menu-logo">
            <img src="./img/header/company-logo.svg" alt="Company logo">
        </a>
        <button type="button" class="menu-toggle-btn menu-close-btn">
            <svg class="mobile-menu-icon-btn" width="24" height="24">
                <use href="../img/sprite.svg#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-actions">
        <nav class="mobile-menu-navigation">
            <ul class="mobile-menu-list">
                <li class="mobile-menu-item">
                    <a href="#dessert-list" class="mobile-menu-link">Солодощі</a>
                </li>
                <li class="mobile-menu-item">
                    <a href="#about-us" class="mobile-menu-link">Про нас</a>
                </li>
                <li class="mobile-menu-item">
                    <a href="#feedback" class="mobile-menu-link">Відгуки</a>
                </li>
                <li class="mobile-menu-item">
                    <a href="#faq-section" class="mobile-menu-link">Часті питання</a>
                </li>
            </ul>
        </nav>
        <a href="/" class="btn mobile-menu-make-order">До покупок</a>
    </div>
</div>