:root {
  --main-font: 'Work Sans', 'Comfortaa', sans-serif;
  --main-color: #080c0c;
  --bg-color: #f5fdfd;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--bg-color);
}