.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding: 20.5px 0;
}

.header-actions {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-actions {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header-navigation {
        display: flex;
    }

    .header-menu-list {
        display: flex;
        gap: 16px;
    }

    .header-menu-link {
        border-bottom: 1px solid transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        border-bottom-color: #080C0C;
    }

    .header-menu-link:active {
        color: #F19898;
        border-bottom-color: #F19898;

        transition: 0ms;
    }

    .header-make-order {
        padding: 8px 20px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-make-order:hover,
    .header-make-order:focus {
        background-color: transparent;
        border-color:#080C0C;

    }

    .header-make-order:active {
        background-color: #F5B6B6;

        transition: 0ms;
    }

    .menu-open-btn {
        display: none;
    }

}

@media screen and (min-width: 1440px) {
    .header-actions {
        gap: 32px;
    }

    .header-menu-list {
        gap: 32px;
    }
}